@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

/* -- scroll configs -- */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #242424;
}
::-webkit-scrollbar-thumb {
    background: #818181;
}
::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
}

@media only screen(max-width: 600px) {
    #main-title {
        font-size: 30pt;
    }
    #main-title span {
        font-size: 10pt;
    }
}

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #161616;

    font-family: 'Montserrat', sans-serif;
}
#wrapper {
    width: 100%; 
    overflow: hidden;
}

.slide {
    height: 100vh; width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-title {
    font-size: 70pt;
    margin-bottom: 60px;
    letter-spacing: 0.5rem;
    cursor: default;
}
.text {
    color: rgba(255, 255, 255, 0.6);
    width: 50%;
    font-size: 16pt;
    letter-spacing: 0.05rem;
    line-height: 1.52em;
    text-align: left;
    font-weight: lighter;
}

#header-container {
    height: 80%; width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    border: 2px solid #e0f9ff;
}
#header-background {
    position: absolute;
    filter: blur(4px);
    height: 200%;
    z-index: -1;
    opacity: .15;
    transform: rotate(-90deg);
}

#main-title {
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 50pt;
}
#main-title span {
    font-size: 15pt;
    font-weight: 300;
    color: #c7c7c7;
}
#top-text {
    position: absolute;
    top: 0; left: 0;
    padding: 20px;
    font-size: 15pt;
    color: white;
    font-weight: 300;
}

#first-section h2 {
    color: white;
    overflow: hidden;
    margin-bottom: 0;
}
#first-section h2 span {
    position: relative;
    display: block;
    width: 105%;
    top: -60px;
    left: -1px;
    color: rgb(39, 39, 39);
    font-weight: lighter;
    z-index: -1;
    transition: 1s ease;
}
#first-section h2 span::before {
    display: block;
    position: absolute;
    content: "";
    opacity: 0;

    transform: translateX(200%);
    width: 50%;
    height: 100%;
    border-top: 5px solid rgb(165, 165, 165);
    transition: 1.5s ease-in-out;
}


#first-section h2:hover span {
    top: 0;
    color: white;
}
#first-section h2:hover span::before {
    transform: translateX(0);
    opacity: 1;
}

#first-section .text {
    margin-top: 10px;
}

#second-section h2 {
    color: #ff9595;
    transition: 1s ease;
    display: flex;
    align-items: center;
    height: 200px;
    padding: 30px 100%;
}
#second-section h2:hover {
    font-size: 300%;
    letter-spacing: 2rem;
}

#third-section h2 {

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 100;
    margin-bottom: 180px;
}
#third-section h2 span {
    transition: 1s ease;
}

#third-section h2 #s1 {
    color: rgba(255, 255, 255, 0.1);
    font-weight: 200;
}
#third-section h2:hover #s1 {
    opacity: 0;
}

#third-section h2 #s2 {
    position: absolute;
    color: #85c8ff;
    transform: rotate(90deg);

    font-weight: 500;
}
#third-section h2:hover #s2 {
    transform: rotate(0deg);

}

#fourth-section h2 {
    color: #f8a9f8;
    position: relative;
    display: flex;
    align-items: center;
}
#fourth-section h2 div {
    display: inline-block;
    position: absolute;
    width: 30%; height: 100%;
    border: 1px solid #f8a9f8;
    transition: 1s ease;
}
#fourth-section h2:hover div {
    width: 100%;
}

#last-section {
    background-color: white;
}
#last-section h2 {
    transition: 1s ease;;
}
#last-section h2:hover {
    color: white;
}
#identificacao {
    position: relative;
    top: 35%;
}
